.content{
    box-sizing: border-box;
    // padding: 0  20px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    overflow: hidden;
    position: relative;
    min-height: calc(100vh - 94px);
}


// 

// 

.lesson-section-wrapper{
    padding: 25px;
}
.lesson-section{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.lesson-section h3{
    color: var(--h3-gray);
    font-size: 36px;
}
.main-table{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,auto) ;
}
.main-table h4{
    font-size: 20px;
    color: var(--h3-gray);
    padding:18px 36px ;
}
.main-table__item{
    text-align: center;
    padding: 10px;
    border: 1px solid var(--main-gray);
    background: #FAF2F5;
}
.home-works-wrapper{
    padding: 20px;
}
.home-works__table{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px repeat(3, auto);
}
.home-works__table h4{
    text-align: center;
    color: var(--h3-gray);
    font-size: 20px;
    padding: 18px 0;
}
.home-works__table article {
    text-align: center;
    padding: 10px 0;
    border: 1px solid var(--main-gray);
    background: #FAF2F5;
}
.right-side{
    width: 100%;
    background: white;
}