.auth{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9F003D;
    overflow: hidden;
    
    &__form{
        min-width: 30%;
        padding: 20px;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
        // line-height: 56px;
    }
    &__title{
        color:white
    }
}
.auth__btns{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    text-decoration: none;
}